[submodule "libs/sidescroll-2d-base"]
	path = libs/sidescroll-2d-base
	url = https://github.com/y-hey/sidescroll-2d-base.git
[submodule "libs/sidescroll-adv-base"]
	path = libs/sidescroll-adv-base
	url = https://github.com/y-hey/sidescroll-adv-base.git
[submodule "libs/y2-godot-core-lib"]
	path = libs/y2-godot-core-lib
	url = https://github.com/y-hey/y2-godot-core-lib.git
[submodule "libs/escape-room-base"]
	path = libs/escape-room-base
	url = https://github.com/y-hey/escape-room-base.git
